<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MVC</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:100,100i,300,300i,400,400i,600|PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Bad+Script&amp;subset=cyrillic" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="js/tmpl.js"></script>
  <style>
  	.item__delete {
  		cursor: pointer;
  	}
  </style>
</head>
<body>
	<h1 class="h1">СПИСОК</h1>
	<div class="main">
		
	</div>
<script type="text/template" id="wrapper__template">
	
<div class="wrapper">
	<div class="wrapper__input">
		<i class="fa fa-hand-o-right fa-2x" aria-hidden="true"></i>
		<input type="text" class="item__value"  autofocus>
		</div>
	<ul class="item__list"></ul>
	<div class="controlls">
		<!-- <button class="item__add">ДОБАВИТЬ</button> -->
	</div>
</div>
	
</script>

<script type="text/template" id="list__template">

	<%for (var i = 0; i < data.length; i++) {%>
		<li class="inemN"><%= data[i] %> <span data-value="<%= data[i] %>" class="item__delete"><i class="fa fa-times" aria-hidden="true"></i></span></li>
	<%};%>

</script>
	<script src="js/script.js"></script>
</body>
</html>